.cell {
  display:flex;
  padding: 3px;
  border: 1px solid black;
  background-color: rgb(212, 211, 211);
}


#container {
    display: flex;
    justify-content: center;
    margin:auto;
    width: 960px;
    height: 960px;
    border: black solid 8px;
}