* {
  margin: 0;
  padding: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 960px;

}

#reset {
  margin: auto;
  font-size: 50px;
  padding: 20px 50px 20px 50px;
}


#container {
  margin: auto;
  height: 640px;
  width: 640px;
  display: flex;
  flex-direction: column;
}

.gridRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.cell {
  min-width: 10px;
  min-height: 10px;
  border: 1px solid black;
  background-color: rgb(212, 211, 211);
  
}



